/* Style Form */
#search-posts-form{
  max-width: 540px;
}
.search-block{
  display: flex;
  height: 48px;
}
.search-input{
  background-color: rgba(224, 236, 253, 0.4)!important;
  font-size: 16px!important;
  color: #0065f2!important;
  border: none!important;
}
.btn-seacrh{
  max-height: 48px!important;
  padding: 0!important;
  font-size: 16px!important;
  color: #fff!important;
  background-color: #0065f2!important;
  line-height: 24px!important;
  padding: 11px 25px 13px 28px!important;
  text-transform: none!important;
}

/* Style Item Blog Post */
.post-grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 30px;
  row-gap: 120px;
}
.item-post-block{
  max-width: 350px;
}
.post-thumbnail{
  max-height: 197px;
}
.post-thumbnail img{
  max-height: inherit;
}
