.arpc-custom-css h1, .arpc-custom-css h2, .arpc-custom-css h3, .arpc-custom-css h4, .arpc-custom-css h5 {
    margin: 0;
}

/* .arpc-custom-css div, */
.arpc-custom-css span,
.arpc-custom-css applet,
.arpc-custom-css object,
.arpc-custom-css iframe,
.arpc-custom-css h1,
.arpc-custom-css h2,
.arpc-custom-css h3,
.arpc-custom-css h4,
.arpc-custom-css h5,
.arpc-custom-css h6,
.arpc-custom-css p,
.arpc-custom-css blockquote,
.arpc-custom-css pre,
.arpc-custom-css a,
.arpc-custom-css abbr,
.arpc-custom-css acronym,
.arpc-custom-css address,
.arpc-custom-css big,
.arpc-custom-css cite,
.arpc-custom-css code,
.arpc-custom-css del,
.arpc-custom-css dfn,
.arpc-custom-css em,
.arpc-custom-css img,
.arpc-custom-css ins,
.arpc-custom-css kbd,
.arpc-custom-css q,
.arpc-custom-css s,
.arpc-custom-css samp,
.arpc-custom-css small,
.arpc-custom-css strike,
.arpc-custom-css strong,
.arpc-custom-css sub,
.arpc-custom-css sup,
.arpc-custom-css tt,
.arpc-custom-css var,
.arpc-custom-css b,
.arpc-custom-css u,
/* .arpc-custom-css i, */
.arpc-custom-css center,
.arpc-custom-css dl,
.arpc-custom-css dt,
.arpc-custom-css dd,
.arpc-custom-css ol,
.arpc-custom-css ul,
.arpc-custom-css li,
.arpc-custom-css fieldset,
.arpc-custom-css form,
.arpc-custom-css label,
.arpc-custom-css legend,
.arpc-custom-css table,
.arpc-custom-css caption,
.arpc-custom-css tbody,
.arpc-custom-css tfoot,
.arpc-custom-css thead,
.arpc-custom-css tr,
.arpc-custom-css th,
.arpc-custom-css td,
.arpc-custom-css article,
.arpc-custom-css aside,
.arpc-custom-css canvas,
.arpc-custom-css details,
.arpc-custom-css embed,
.arpc-custom-css figure,
.arpc-custom-css figcaption,
.arpc-custom-css footer,
.arpc-custom-css header,
.arpc-custom-css hgroup,
.arpc-custom-css menu,
.arpc-custom-css nav,
.arpc-custom-css output,
.arpc-custom-css ruby,
.arpc-custom-css section,
.arpc-custom-css summary,
.arpc-custom-css time,
.arpc-custom-css mark,
.arpc-custom-css audio,
.arpc-custom-css video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.arpc-custom-css article,
.arpc-custom-css aside,
.arpc-custom-css details,
.arpc-custom-css figcaption,
.arpc-custom-css figure,
.arpc-custom-css footer,
.arpc-custom-css header,
.arpc-custom-css hgroup,
.arpc-custom-css menu,
.arpc-custom-css nav,
.arpc-custom-css section {
    display: block;
}

body {
    line-height: 1;
    scroll-behavior: smooth;
}

.arpc-custom-css ol,
.arpc-custom-css ul {
    list-style: none;
}

.arpc-custom-css li,
.arpc-custom-css a {
    text-decoration: none;
    list-style: none;
}

.arpc-custom-css blockquote,
.arpc-custom-css q {
    quotes: none;
}

.arpc-custom-css blockquote:before,
.arpc-custom-css blockquote:after,
.arpc-custom-css q:before,
.arpc-custom-css q:after {
    content: "";
    content: none;
}

.arpc-custom-css table {
    border-collapse: collapse;
    border-spacing: 0;
}